<h4>Calcule o valor da ligação desejada</h4>

<div class="card">
    <form [formGroup]="tarifaForm" (submit)="calcular()">
        <div class="form-group row">
            <div class="col-sm-6">
                <label>Origem</label>
                <select formControlName="origem" class="form-control">
                  <option *ngFor="let codigo of codigos" [value]="codigo">
                    {{ codigo }}
                  </option>
                </select>
                <app-mensagem
                  *ngIf="
                    tarifaForm.get('origem')?.errors?.required &&
                    tarifaForm.get('origem')?.touched"
                  mensagem="Origem é obrigatório">
                </app-mensagem>
            </div>

            <div class="col-sm-6">
                <label>Destino</label>
                <select formControlName="destino" class="form-control">
                  <option
                    *ngFor="let codigo of codigos"
                    [value]="codigo">
                    {{ codigo }}
                  </option>
                </select>
                <app-mensagem
                  *ngIf="
                    tarifaForm.get('destino')?.errors?.required &&
                    tarifaForm.get('destino')?.touched"
                  mensagem="Destino é obrigatório">
                </app-mensagem>
            </div>
        </div>

        <app-mensagem
          *ngIf="tarifaForm.errors?.origemIgualDestino"
          mensagem="Origem deve ser diferente do Destino">
        </app-mensagem>

        <div class="form-group">
            <label>Plano</label>
            <select formControlName="plano" class="form-control">
                <option
                  *ngFor="let plano of planos"
                  [value]="plano.id">
                  {{ plano.descricao }}
                </option>
            </select>
            <app-mensagem
              *ngIf="tarifaForm.get('plano')?.errors?.required &&
              tarifaForm.get('plano')?.touched"
              mensagem="Plano é obrigatório">
            </app-mensagem>
        </div>

        <div class="form-group">
            <label>Minutos</label>
            <input
              formControlName="minutos"
              type="number"
              class="form-control"
              placeholder="Digite o tempo total em minutos"
            />
            <app-mensagem
              *ngIf="tarifaForm.get('minutos')?.errors?.required &&
              tarifaForm.get('minutos')?.touched"
              mensagem="Minutos é obrigatório">
            </app-mensagem>
        </div>

        <div class="form-group">
            <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="!tarifaForm.valid">
                Calcular
            </button>
        </div>
    </form>
</div>

<app-planos *ngIf="submitted" [tarifa]="tarifa"></app-planos>
